In [ ]:
!pip install mysql-connector-python sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.38)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 18.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [ ]:
CREATE TABLE Users (
    user_id INT PRIMARY KEY AUTO_INCREMENT,       -- Unique user ID
    username VARCHAR(50) NOT NULL,                -- Username for the user
    email VARCHAR(100) NOT NULL UNIQUE,           -- Email (unique)
    password VARCHAR(255) NOT NULL,               -- Password (hashed)
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE Subjects (
    subject_id INT PRIMARY KEY AUTO_INCREMENT,   -- Unique subject ID
    subject_name VARCHAR(100) NOT NULL,           -- Name of the subject (e.g., Math, Physics)
    description TEXT,                             -- A short description of the subject
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE Generated_Content (
    content_id INT PRIMARY KEY AUTO_INCREMENT,    -- Unique content ID
    user_id INT,                                  -- Foreign key to Users table
    subject_id INT,                               -- Foreign key to Subjects table
    content_type ENUM('Lesson', 'Summary', 'Study Guide') NOT NULL, -- Type of content
    content TEXT NOT NULL,                        -- The actual content text
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES Users(user_id),
    FOREIGN KEY (subject_id) REFERENCES Subjects(subject_id)
);
CREATE TABLE Quizzes (
    quiz_id INT PRIMARY KEY AUTO_INCREMENT,       -- Unique quiz ID
    content_id INT,                               -- Foreign key to Generated_Content
    question TEXT NOT NULL,                       -- Question text
    option_a TEXT NOT NULL,                       -- Option A
    option_b TEXT NOT NULL,                       -- Option B
    option_c TEXT NOT NULL,                       -- Option C
    option_d TEXT NOT NULL,                       -- Option D
    correct_option CHAR(1) NOT NULL,              -- Correct option (A/B/C/D)
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (content_id) REFERENCES Generated_Content(content_id)
);
SELECT gc.content, gc.content_type
FROM Generated_Content gc
JOIN Subjects s ON gc.subject_id = s.subject_id
WHERE s.subject_name = 'Science';
SELECT q.question, q.option_a, q.option_b, q.option_c, q.option_d
FROM Quizzes q
JOIN Generated_Content gc ON q.content_id = gc.content_id
WHERE gc.content_id = 1;

In [ ]:
INSERT INTO Subjects (subject_name, description)
VALUES ('Science', 'A field of study focused on understanding the natural world through observation and experimentation.');
INSERT INTO Users (username, email, password)
VALUES ('john_doe', 'john@example.com', 'hashed_password_here');
INSERT INTO Generated_Content (user_id, subject_id, content_type, content)
VALUES (1, 1, 'Lesson', 'This is a sample lesson about the basics of chemistry...');
INSERT INTO Quizzes (content_id, question, option_a, option_b, option_c, option_d, correct_option)
VALUES (1, 'What is the atomic number of Hydrogen?', '1', '2', '3', '4', 'A');